@media (min-width: 1200px) {
    .topic {
        margin-top: 1.1rem;
    }
    body {
        background: url("../backdrop.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
@media (min-width: 992px) and (max-width: 1199.99px) {
    .topic {
        margin-top: 0.95rem;
    }
    body {
        background: url("../backdrop.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
@media (min-width: 768px) and (max-width: 991.99px) {
    .topic {
        margin-top: 0.8rem;
    }
    body {
        background: url("../backdrop.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
@media (min-width: 576px) and (max-width: 767.99px) {
    .topic {
        margin-top: 0.65rem;
    }
    .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    body {
        background-color: #b8d2fe;
    }
}
@media (max-width: 575.99px) {
    .topic {
        margin-top: 0.5rem;
    }
    .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

body {
    height: 100%;
    width: 100%;
}
.container {
    max-width: 100%;
}
.head-logo {
    background-color: #00004b;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.topic {
    border-bottom-style: solid;
    border-bottom-color: #999999;
}